@{
    ViewBag.Title = "Reset password confirmation";
}

<hgroup class="title">
    <h1>Confirmación de cambio de Contraseña</h1>
</hgroup>
<div>
    <p>
        Tu contraseña ha sido reiniciada.
    </p>
    <p>
        @Html.ActionLink("haz cick aqui para volver a ingresar", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
