@{
    ViewBag.Title = "Home Page";
}
<html>
<head>
    <style>
        body {
            background: url('../../Content/Images/Forest.jpg') no-repeat center fixed;
            background-size: cover;
        }
    </style>
</head>
<body>
</body>
</html>
<div class="jumbotron">
    <h1>Dolan-Base</h1>
    <p1 class="lead">
        El editor para proyectos con scrum más magnifico jamás presenciado por la raza humana.
    </p1>
</div>

