@model IngeDolan3._0.Models.GenericList
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Product Backlog </h2>
            @using (Html.BeginForm("Index", "UserStories", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", ProjectName = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="navbar-right" style="display:inline-block;">
                    <input type="submit" value="Aceptar" class="btn btn-default" />
                </div>
                <h4>Seleccione el proyecto.</h4>
                <hr />

                

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.id, Model.Nombres, htmlAttributes: new { @class = "form-control" })
                    </div>
                 </div>
                }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
