@model IngeDolan3._0.Models.Project
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title.</h2>

<p>No puedes eliminar este usuario porque es el lider del proyecto!</p>
@Html.DisplayFor(model => model.ProjectName)

<div>
    @Html.ActionLink("Volver", "Index", "Home")
</div>