@{
    ViewBag.Title = "Acceso Denegado";
}

<h2>@ViewBag.Title.</h2>

<p>No tienes permiso para eso!</p>

<div>
    @Html.ActionLink("Regresar", "Home", "Index", new { @class = "btn btn-default" })
</div>