@model IEnumerable<IngeDolan3._0.Models.Permiso>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de permisos</h2>

<p>
    @Html.ActionLink("Editar Estudiante", "Edit", new { roleID = ViewBag.EstudianteID}, new { @class = "btn btn-default" })
    @Html.ActionLink("Editar Asistente", "Edit", new { roleID = ViewBag.AsistenteID }, new { @class = "btn btn-default" })

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
    </tr>
}

</table>
